.flexColChild--home_main-blockContainer {
    background-color: transparent;
}

.paragraph {
    background-color: transparent;
}

.container--home_main-block {
    border-bottom: 1px solid #8a8a8a;
    width: 85%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.paragraph--home_main-block {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    color: #8a8a8a;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 0 30px 0;
}

.wrapper--home_main-block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* background-color:yellow; */
    height: 200px;

}

.wrapper--home_snaker {
    background-image: url("assets/image/snaker-kids-premiun/dft-snaker-red.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 90%;
}

.wrapper--home_kids {
    background-image: url("assets/image/snaker-kids-premiun/dft-kids-red.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 90%;
}

.wrapper--home_premiun {
    background-image: url("assets/image/snaker-kids-premiun/dft-premiun-red.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 90%;
}

/*========================================================Tus marcas favoritas  */
/* .container--brands_title{
    background-color: greenyellow;
} */
.wrapper--brands_title {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
}

.wrapper--brands_title:hover {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: auto;
    overflow: visible;
}

.paragraph--brands_title {
    margin: 64px auto 40px;
    display: table;
    white-space: nowrap;
    font-family: Poppins, sans-serif;
    color: #20281F;
    font-size: 2rem;
    font-weight: 600;
}

/*----------------------------------- section women name -------------------------------- */
.container--home_premiun-mujer {
    /* background-color: aqua; */
    position: relative;
    top: 85%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.container--home_premiun-hombre {
    /* background-color: aqua; */
    position: relative;
    top: 85%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/* feacture */

.paragraph--home_snaker {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin: auto;
    display: block;
    position: relative;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.paragraph--home_kids {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin: auto;
    display: block;
    position: relative;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.paragraph--home_premiun {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin: auto;
    display: block;
    position: relative;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.wrapper--info_number-two{
    background-color: light;
}