.imageElement--home_banner {
    width: 2000px;
}

.imageElement--_dudasDevoluciones {
    display: flex;
    justify-content: space-around;
    width: 95%;
}

.imageElement--_conoceServicios {
    display: flex;
    justify-content: space-around;
    width: 95%;
}


.imageElement--header__bannerTop--image {
    width: 75%;
}

/* =================================== global home Preheader */
.imageElement--home__preheader--image {
    width: 100%;
}

/* form */


.vtex-input-prefix__group {
    background-color: red;
    border: none;
}

.headerRowContentContainer--mobile__megamenu {
    background-color: black;
}

.imageElement--desktop__footer--apps {
    width: 100%;
}

.buttonContainer {
    display: none;
}

.imageElement--home__trucking--dudas {
    width: 90%;
}

.container--desktop__footer--newsletter {
    height: 51px;
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding: 0px;
    width: 100%;
    border-style: none;
    border: none;
}

.form--desktop__footer--newsletter {
    width: 100%;
}


.label--desktop__footer--newsletter {
    border: none;
    border-style: none;
}

.imageElement--home__newsletter--image {
    background-color: black;
}

.container--home__newsletter--main {
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 1rem;
    width: 20.4rem;
}

.newsletter--home__newsletter--main {
    width: 22rem;
}

.inputGroup--footer__newsletter--main {
    margin-top: 1rem;
    width: 17rem;
}

