.imageElement--home_banner {
    width: 2000px;
}

.imageElement--_dudasDevoluciones {
    display: flex;
    justify-content: space-around;
    width: 95%;
}

.imageElement--_conoceServicios {
    display: flex;
    justify-content: space-around;
    width: 95%;
}


.imageElement--header__bannerTop--image {
    width: 75%;
}

/* =================================== global home Preheader */
.imageElement--home__preheader--image {
    width: 96rem;
}

/* form */
.form--home__newsletter--main {
    display: block;
    position: relative;
    width: 700px;
    float: left;
    border: solid 1px #e6ebf1;
    height: 6rem;
}

.buttonContainer--home__newsletter--main {
    display: none;
}

.inputGroup--home__newsletter--main {
    width: 100%;
    height: 80px;
}



.container {
    max-width: 95rem;
    /* background: rebeccapurple; */
    display: flex;
    justify-content: center;
}

.imageElement--home__newsletter--image {
    background-color: black;
    max-height: 50px;
    min-height: 30px;
    border-radius: 12px;
} 

.container--home__newsletter--main {
    width:100%;
}

.form--home__newsletter--main {
    width: 700px;
    display: flex;
    align-items: center;
    border: none;
}

.inputGroup--home__newsletter--main {
    width: 100%;
    
}

.newsletter--home__newsletter--main{
    width: 20rem;
}

.vtex-input-prefix__group{
    background-color: red;
    border: none;
}

.headerRowContentContainer--mobile__megamenu{
    background-color: black;
}