/* .link{
    /* color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
} */

/* -------------------------------------------item de mujer */
.link--container__woman--itemZapatos{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
.link--container__woman--itemJeans{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
.link--container__woman--itemBlusas{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
.link--container__woman--itemSneakers{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
.link--container__woman--itemVestidos{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
.link--container__woman--itemPantalones{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
.link--container__woman--itemBotas{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
.link--container__woman--itemDeportes{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
/* -------------------------------------------item de hombre */
.link--container__hombre--itemTenis{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
.link--container__hombre--itemCamisas{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
.link--container__hombre--itemJeans{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
.link--container__hombre--itemPantalones{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
.link--container__hombre--itemSneakers{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
.link--container__hombre--itemZapatos{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
.link--container__hombre--itemPolos{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
.link--container__hombre--itemDeportes{
    color: #ffffff; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}