
@media (max-width: 1024px) {
    /* .headerRowBackground--mobile__menu--main{
        background-color: blue;
    }
     */
    .headerRowBackground--mobile__megamenu{
    background-color: black;
    /* width: 45rem; */
    
    }

    .headerRowContentContainer--mobile__megamenu{
        width: 100%;
    }
}