 /* =================================== Desktop home Preheader */

 .flexRow--desktop__home--Preheader {
     max-width: 1170px;
     margin: 0 auto;
 }

 .flexRowContent--desktop__home--Preheader {
     font-size: 11px;
     line-height: 1.6rem;
     width: 100%;
 }

 /* =================================== Desktop home Title */

 .flexRow--desktop__home--Title {
     display: flex;
     justify-content: center;
     width: 100%;
 }

 .flexRowContent--desktop__home--Title {
     font-size: 16px;
     text-align: center;
     color: #8a8a8a;
     text-transform: uppercase;
     padding: 0 0 30px 0;
     letter-spacing: 1px;
     line-height: 1;
     font-weight: 500;
     max-width: 1170px;
     margin: 0px auto;
 }

 /* =================================== Desktop home Main */
 .flexRow--desktop__home--Main {
     display: flex;
     justify-content: center;
     margin-top: 1rem;
 }

 .flexRowContent--desktop__home--Main {
     width: 1170px;
 }

 .flexRowContent--desktop__home--Main {
     width: 1170px;
 }

 .flexCol--home__main--container {

     display: flex;
     gap: 10px;
 }

 /*-------------------------------------------one*/
 .flexRow--home__main--one {
     display: block;
     position: relative;
     width: 100%;
     max-width: 1170px;
     margin: auto;
 }

 /* mujer */
 .flexCol--main__one--blockWoman {
     background-image: url("assets/image/home_block/section/dft-section-mujer.png");
     background-repeat: no-repeat;
     background-size: cover;
     height: 640px;
     width: 100%;
     max-width: 570px;
 }

 /* hombre */
 .flexCol--home_main-block--hombre {
     background-image: url("assets/image/home_block/section/dft-section-hombre.png");
     background-repeat: no-repeat;
     background-size: cover;
     height: 640px;
     width: 100%;
     max-width: 570px;
 }

 /*-------------------------------------------two*/
 .flexRow--home__main--two {
     display: block;
     position: relative;
     width: 100%;
     max-width: 1170px;
     margin: auto;
 }


 /* ============================================================================================ */
 .flexRowContent--blockWoman__categories {
     display: block;
     position: relative;
     text-align: left;
     padding: 50px;
     font-size: 20px;
     color: #fff;
     line-height: 25px;
     margin-top: 50px;
     margin-left: 7px;
 }

 .flexCol--blockWoman__categories--container {
     display: block;
     position: relative;
     bottom: 0;
     left: 0;
     right: 0;
     top: 4rem;
     height: 3rem;
 }

 /* =====================================================================Brands======================= */
 .flexRow--desktop__home--brands {
     height: 400px;
     margin-top: 1rem;
     display: flex;
     justify-content: center;
 }

 .flexRowContent--desktop__home--brands {
     height: 400px;
     width: 70rem; 
    }
 /* 
.flexCol--home__brands{
    height: 400px;
} */


/*=========================================================== newsletter*/



.flexRow--home_newsletter-main{}
.flexRowContent--home_newsletter-main{}
.flexCol--home_newsletter{}
.flexColChild--home_newsletter{}
.flexCol--home_newsletter-container{}