 /* =================================== global home Title */
 /* .container--home__title--text{

} */
 .container--home__title--text {
     max-width: 100%;
 }

 .wrapper--home__title--text {
    display: flex;
    align-items: flex-end;
    height: 7rem;
     /* max-width: 100%;
     border-bottom: 1px solid #d8d8d8;
     top: 40px; */
 }

 /*-------------------------------------------one*/

 .container--homemain__two--snaker {
     background-image: url("assets/image/snaker-kids-premiun/dft-snaker-red.png");
     background-repeat: no-repeat;
     background-size: cover;
     height: 390px;
     max-width: 440px;
 }

 .container--homemain__two--kids {
     background-image: url("assets/image/snaker-kids-premiun/dft-kids-red.png");
     background-repeat: no-repeat;
     background-size: cover;
     height: 390px;
     max-width: 440px;
 }

 .container--homemain__two--premiun {
     background-image: url("assets/image/snaker-kids-premiun/dft-premiun-red.png");
     background-repeat: no-repeat;
     background-size: cover;
     height: 390px;
     max-width: 440px;
 }






 /* ver mas */

 .wrapper--home__unix--bottom {
     background-color: white;
     color: black;
     width: 200px;
     height: 3rem;
     display: flex;
     align-items: center;
     justify-content: center;
 }


 .wrapper--home__unix--name {
     color: white;
 }


 /* brands */
 
 .container--home__brands--title {
     width: 100%;
     position: relative;
     display: flex;
     justify-content: center;
     /* background: orange;  */

 }
 .wrapper--home__brands--title {
     width: 100%;
      /* background-color: aqua;  */
 }
 

 .paragraph--home__brands--title {
     margin: 64px auto 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2%;
     white-space: nowrap;
     font-family: Poppins, sans-serif;
     color: #20281F;
     font-size: 2rem;
     font-weight: 600;
     width: 100%;

 }

 .paragraph--home__brands--title::before {
     display: table-cell;
     right: 1%;
     border-top: 1px solid #d8d8d8;
     content: '';
     top: 4px;
     width: 40%;
     /* background: black; */
    }
    
    .paragraph--home__brands--title::after {
        left: 1.5%;
        border-top: 1px solid #d8d8d8;
        content: '';
        display: table-cell;
      top: 2rem;
        width: 45%;
        /* background: black; */
    }
    
    /* recomendado */
.wrapper--home__recomended{
    width: 100%;
}

.paragraph--home__recomended{
    margin: 64px auto 40px;
    display: table;
    white-space: nowrap;
    font-family: Poppins,sans-serif;
    color: #20281F;
    font-size: 3rem;
    font-weight: 600;
}

.paragraph--home__recomended::before{
    right: 1.5%;
    border-top: 1px solid #d8d8d8;
    content: '';
    display: table-cell;
    position: relative;
    top: 2rem;
    width: 45%;
}
.paragraph--home__recomended::after{
    left: 1.5%;
    border-top: 1px solid #d8d8d8;
    content: '';
    display: table-cell;
    position: relative;
    top: 2rem;
    width: 45%;
}





 /* seo */

 /* .container--home__seo--one{
    height: 2rem;
    background-color: rgb(60, 255, 0);
} */

 .wrapper--home__seo--one {
     height: 2rem;
     margin-bottom: 1rem;
 }






 .paragraph--home__seo--two {
     font-size: 16px;
     color: #20281F;
     line-height: 2.4rem;
     text-align: center;
     max-width: 90%;
     margin: 12px auto;
     margin-top: 12px;
     margin-right: auto;
     margin-bottom: 12px;
     margin-left: auto;
 }




 /* newsletter */

 .container--home__newsletter--terms {
     display: flex;
     justify-content: flex-end;
 }

 .container--home__newsletter--policy {
     display: flex;
     justify-content: flex-start;
 }