.flexColChild--home_main-blockContainer {
    background-color: transparent;
}

.paragraph {
    background-color: transparent;
}

.container--home_main-block {
    border-bottom: 1px solid #8a8a8a;
    width: 85%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.paragraph--home_main-block {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    color: #8a8a8a;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 0 30px 0;
}

.wrapper--home_main-block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* background-color:yellow; */
    height: 200px;

}

.wrapper--home_snaker {
    background-image: url("assets/image/snaker-kids-premiun/dft-snaker-red.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.wrapper--home_kids {
    background-image: url("assets/image/snaker-kids-premiun/dft-kids-red.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.wrapper--home_premiun {
    background-image: url("assets/image/snaker-kids-premiun/dft-premiun-red.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.container--home_kids {
    background-color: transparent;
}

/*========================================================Tus marcas favoritas  */
.container--brands_title {
    margin-top: 8rem;
}

.wrapper--brands_title {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
}

.wrapper--brands_title:hover {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: auto;
    overflow: visible;
}

.paragraph--brands_title {
    margin: 64px auto 40px;
    display: table;
    white-space: nowrap;
    font-family: Poppins, sans-serif;
    color: #20281F;
    font-size: 2.5rem;
    font-weight: 600;
}

/*----------------------------------- section women name -------------------------------- */
.container--home_premiun-mujer {
    /* background-color: aqua; */
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: 750;
    font-family: 'Poppins', sans-serif;
    height: 100px;
    margin-top: 5rem;
}

.container--home_premiun-hombre {
    /* background-color: aqua; */
    color: #fff;
    font-size: 80px;
    font-weight: 750;
    font-family: 'Poppins', sans-serif;
    height: 100px;
    margin-top: 5rem;
}

/* feacture */

.paragraph--home_snaker {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin: auto;
    display: block;
    position: relative;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.paragraph--home_kids {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin: auto;
    display: block;
    position: relative;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

.paragraph--home_premiun {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin: auto;
    display: block;
    position: relative;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

/* -------------------------------------------------------------------------------------news sections */

.container--info_number-zero {
    margin-top: 2rem;
}

.container--info_number-one {
    height: 90px;
    font-weight: 700;
    font-size: 70px;
    margin: 40px auto;
    margin-top: 6rem;
    color: #20281f;
    font-family: "Poppins", sans-serif;
}

.wrapper--info_number-two {
    height: 110px;
}

/* --------------------------newsletter--------------------------------------- */

/* .container--home_col-descriptionOne {
    font-size: 21px;
    margin: 0 0 15px 0;
    font-family: 'Poppins', sans-serif;
}
.paragraph--home_col-descriptionTwo {
    font-family: Fabriga, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-weight: 200;
    font-size: 11px;
    line-height: 1.6rem;
    text-transform: none;
    letter-spacing: 0;
      } */


/* termino y condiciones */
.container--rich_newsletterTwo-one{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}
/* .wrapper--rich_newsletterTwo-one{
    background-color: yellow;
}
.paragraph--rich_newsletterTwo-one{
    
} */
.link--rich_newsletterTwo-one{
    text-decoration: none;
}

/* tratamiento de datos*/
.container--rich_newsletterTwo-two{
    display: flex;
    justify-content: flex-start;
}
/* .wrapper--rich_newsletterTwo-two{
    
}
.paragraph--rich_newsletterTwo-two{
    
} */
.link--rich_newsletterTwo-two{
    text-decoration: none;
}