 .container--home__title--text {
     max-width: 100%;
 }

 .wrapper--home__title--text {
     display: flex;
     align-items: flex-end;
     height: 7rem;
 }

 .paragraph--home__title--text {
     font-size: 16px;
     text-align: center;
     color: #8a8a8a;
     text-transform: uppercase;
     padding: 0 0 30px 0;
     letter-spacing: 1px;
     line-height: 0;
     font-weight: 500;
     max-width: 1170px;
     margin: 0px auto;
 }

 .flexCol--man__categories--list {
     display: flex;
     gap: 1rem;
     margin-top: 3rem;
 }

 .paragraph--home__unix--bottom {
     background-color: white;
     color: black;
     width: 130px;
     height: 2rem;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .paragraph--home__unix--name {
     font-size: 64px;
     font-weight: 600;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.23;
     letter-spacing: -1.4px;
     text-align: center;
     color: #ffffff;
     display: block;
     text-transform: uppercase;
     margin-top: 20px;
 }

 .wrapper--home__content--sections {
     display: block;
     position: relative;
     padding: 30px;
     text-align: left;
     color: #fff;
     font-size: 20px;
     font-weight: 600;
 }

 .paragraph--home__content--sections {
     font-size: 20px;
     font-weight: 600;
     text-align: center;
     color: #ffffff;
     margin: auto;
     display: block;
     position: relative;
     text-transform: uppercase;
     text-align: left;
 }

 .container--home__brands--title {
     width: 100%;
     position: relative;
     display: flex;
     justify-content: center;
 }

 .wrapper--home__brands--title {
     width: 100%;
 }

 .paragraph--home__brands--title {
     margin: 64px auto 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2%;
     white-space: nowrap;
     color: #20281F;
     font-size: 2rem;
     font-weight: 600;
     width: 100%;
     font-family: Poppins-regular;
 }

 .paragraph--home__brands--title::before {
     display: table-cell;
     right: 1%;
     border-top: 1px solid #d8d8d8;
     content: '';
     top: 4px;
     width: 40%;
 }

 .paragraph--home__brands--title::after {
     left: 1.5%;
     border-top: 1px solid #d8d8d8;
     content: '';
     display: table-cell;
     top: 2rem;
     width: 45%;
 }

 .wrapper--home__recomended {
     width: 100%;
 }

 .paragraph--home__recomended {
     color: #20281F;
     font-size: 25px;
     font-weight: 700;
     display: flex;
     font-family: Poppins-regular;
 }

 .paragraph--home__recomended::before {
     right: 1%;
     border-top: 1px solid #d8d8d8;
     content: '';
     display: table-cell;
     position: relative;
     top: 1.5rem;
     width: 35%;
 }

 .paragraph--home__recomended::after {
     left: 1%;
     border-top: 1px solid #d8d8d8;
     content: '';
     display: table-cell;
     position: relative;
     top: 1.5rem;
     width: 35%;
 }

 .paragraph--home__seo--one {
     font-size: 50px;
     font-weight: 700;
     color: #20281F;
     font-family: Poppins-regular;
 }

  .container--home__seo--one{
    height: 2rem;
} 

 .wrapper--home__seo--one {
     height: 2rem;
     margin-bottom: 1rem;
 }

 .strong--home__seo--one {
     font-style: italic;
     font-weight: 400;
     text-decoration: underline;
     color: #20281f;
 }

 .paragraph--home__seo--two {
     font-size: 16px;
     width: 65rem;
     line-height: 29px;
     color: #20281F;
     font-family: Arial, Helvetica, sans-serif;
 }

 /* .container--home__newsletter--terms {
     display: flex;
     justify-content: flex-end;
 } */

 /* .container--home__newsletter--policy {
     display: flex;
     justify-content: flex-start;
 } */

 /* .link--home__newsletter--terms {
     text-decoration: none;
     margin-right: .5rem;
     color: #000;
 } */

 /* .link--home__newsletter--policy {
     text-decoration: none;
     color: #000;
 } */

 .container--newsletter__text--subscribe {
     height: 34px;
     font-weight: 700;
 }

 /* .paragraph--home__newsletter--terms {
     font-size: 11px;
     color: #333;
     font-family: Arial, Helvetica, sans-serif;
 } */

 /* .paragraph--home__newsletter--policy {
     font-size: 11px;
     color: #333;
     font-family: Arial, Helvetica, sans-serif;
 } */

 .wrapper--home__seo--two {
     display: flex;
     justify-content: center;
 }

 .paragraph--newsletter__text--descriptions {
     font-size: 11px;
     font-family: Arial, Helvetica, sans-serif;
     width:380px;
 }

 .link--home__newsletter--termspolicy{
    text-decoration: none;
    color: #000;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .container--home__newsletter--termspolicy{
    height: 30px;
 }