/*---------------------------------------------------------> Global Liks*/
.link {
    color: black;
    text-decoration: none;
}

.label--woman__categories--all {
    color: white;
}



/*-------------------------------------------item de mujer y hombre */
.link--container__woman--itemAll {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 1.5rem;
    font-weight: 500;
}
