 .sliderLayoutContainer--home__brands--carousel {
     /* background: gray; */
     width: 95%;
     height: 15rem;
 }


 .sliderTrackContainer--home__brands--carousel {
     height: 80%;
     width: 100%;

 }

 .sliderTrackContainer--home__brands--carousel:hover {
     opacity: .3;
 }


