 /* =================================== global home preheader */

 .flexRow--global__home--preheader {
     margin: 0 auto;
     max-width: 100%;
     display: flex;
     justify-content: center;
 }

 .flexRowContent--global__home--preheader {
     width: 1170px;
     max-width: 100%;
     font-size: 11px;
     line-height: 1.6rem;
 }

 /* =================================== global home title */
 .flexRow--global__home--title {
     display: flex;
     justify-content: center;
     width: 100%;
     margin-top: 2rem;
     margin-bottom: 1rem;
 }

 .flexRowContent--global__home--title {
     font-size: 16px;
     text-align: center;
     color: #8a8a8a;
     text-transform: uppercase;
     padding: 0 0 30px 0;
     letter-spacing: 1px;
     line-height: 1;
     font-weight: 500;
     width: 1170px;
     margin: 0px auto;
     border-bottom: 1px solid #d8d8d8;
     height: 3rem;
     margin-bottom: 1rem;
 }

 /* =================================== Desktop home Main */
 .flexRow--global__home--main {
     display: flex;
     position: relative;
     width: 100%;
     margin-bottom: 70px;
 }

 .flexRowContent--home__main--one {
     display: flex;
     justify-content: center;
     gap: 2rem;
 }

 .flexRowContent--global__home--main {
     width: 100%;
     width: 1170px;
 }

 .flexCol--home__main--container {
     display: flex;
     gap: 2rem;
 }

 /*-------------------------------------------one*/
 /* mujer */

 .flexCol--home__main--woman {
     background-image: url("assets/image/home_block/section/dft-section-mujer.png");
     background-repeat: no-repeat;
     background-size: cover;
     width: 570px;
     height: 640px;
 }

 .flexCol--home__main--man {
     background-image: url("assets/image/home_block/section/dft-section-hombre.png");
     background-repeat: no-repeat;
     background-size: cover;
     height: 640px;
 }

 /* categotegories */
 .flexRow--home__man--categories {
     width: 100%;
 }

 .flexRowContent--home__woman--categories {
     display: block;
     position: relative;
     text-align: left;
     padding: 50px;
     font-size: 20px;
     color: #fff;
     line-height: 25px;
     margin-top: 50px;
     margin-left: 7px;
 }

 .flexRowContent--home__man--categories {
     display: block;
     position: relative;
     text-align: right;
     padding: 50px;
     font-size: 20px;
     color: #fff;
     line-height: 25px;
     margin-top: 50px;
     margin-left: 7px;
 }

 /* ver mas */
 .flexColChild--home__unix--container {
     height: 40%;
 }

 .flexCol--home__unix--container {
     height: 10rem;
 }

 .flexColChild--home__main--man {
     height: 80%;
     display: flex;
     align-items: flex-end;
 }

 .flexColChild--home__main--woman {
     height: 80%;
     display: flex;
     align-items: flex-end;
 }


 /* sneaker premuin  kids */
 .flexRowContent--home__main--two {
     display: flex;
     gap: 2rem;
     width: 100%;
 }


 /* brands */
 .flexRowContent--global__home--brands {
     width: 1170px;
     max-width: 100%;
 }

 .flexColChild--home__brands {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     max-height: 15rem;
     position: relative;
 }


 .flexRow--global__home--brands {
     display: flex;
     height: 382px;
 }

 .flexRow--_section-info {
     display: flex;
 }

 .flexRowContent--_section-info {
     width: 1170px;
 }

 .flexRow--global__home--recommended {
     display: flex;
     height: 180px;
     margin-top: 3rem;
 }

 .flexRowContent--global__home--recommended {
     width: 1170px;
 }

 /* seo */

 .flexColChild--home__seo--container {
     width: 100%;
     margin-bottom: 70px;
 }

 /* formulario */


 .flexRowContent--home__newsletter--description {
     display: flex;
     align-items: center;
     height: 6rem;
     background: white;
     margin-left: 2rem;
     height: 4rem;
 }



 .flexColChild--home__newsletter--subscribe {
     display: flex;
 }

 .flexRow--home___newsletter--main {
     display: flex;
 }

 .flexRowContent--home___newsletter--main {
     width: 1170px;
     background: #f8f8f8;
     height: 14rem;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 2rem;
 }


 .flexRowContent--home__newsletter--image-content {
     background: black;
     height: 62px;
     width: 70px;
     display: flex;
     align-items: center;
     margin-left: 1rem;
 }

 .flexCol--home__newsletter--subscribe {
     width: 486px;
 }

 .flexRow--home__newsletter--description{
    width: 700px;
 }