.stackItem--section__hombre--container {
    width: 570px;
}

.stackItem--main__section--man--section__man--container{
    width: 100%;
}
.stackItem--main__section--woman--section__woman--container{
    width: 100%;

}