 @media (max-width: 1024px) {

     .flexRowContent--global__home--title {
         width: 100%;
     }

     .flexRowContent--_section-info {
         width: 100%;
     }

     .flexRowContent--global__home--recommended {
         width: 730px;
     }
/* 
     .flexRowContent--global__home--brands {
         width: 100%;
     } */
     .flexRow--disclosure--container--content{
        margin-top: 7rem;
        width: 100%;
     }

 }