 @media (max-width: 660px) {
    
    .flexRowContent--global__home--preheader {
         margin-top: 1rem;
     }

     .flexRow--global__home--content {
         margin-top: 1rem;
     }

     .flexRowContent--home__content--one {
         display: flex;
         flex-direction: column
     }
 

     .flexRow--home__content--two {
         display: none;
     }

     .flexColChild--disclosure--container--content {
         width: 100%;
     }

     .flexRow--disclosure--container--content {
         width: 100%;
     }
 }