 @media (max-width: 660px) {

     .flexRowContent--global__home--preheader {
         margin-top: 1rem;
     }

     .flexRow--global__home--content {
         margin-top: 1rem;
     }

     .flexRowContent--home__content--one {
         display: flex;
         flex-direction: column;
         min-width: 320px;
     }


     .flexRow--home__content--two {
         display: none;
     }

     .flexColChild--disclosure--container--content {
         width: 100%;
     }

     .flexRow--disclosure--container--content {
         width: 100%;
     }

.flexCol--xphone__home--content-col{
    width:clamp(300px,40%,500px);
}


 }