@media (max-width: 660px) {
    .container--footer__mark {
        background: black;
        width: 100%;
        color: white;
    }

    .paragraph--home__unix--bottom {
        font-size: 15px;
    }
}
