/* ==========================================================================================desktop */
/* -------------------------------------banner main */
.headerRow--header__banner--top {
    display: flex;
    justify-content: center;
}

.headerRowBackground--header__banner--top {
    background-color: red;
    width: 100%;
}

.headerRowContentContainer--header__banner--top {
    display: flex;
    justify-content: center;
    max-width: 960px;
}

.headerRowContainer--header__banner--top {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* --------------------------------------------------------  section information  */
.headerRowBackground--header__info--section {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 10px;
    background-color: #ececec;
}

.headerRowContentContainer--header__info--section {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 2rem;
}


.headerRowContainer--header__info--section {
    display: flex;
    justify-content: center;
    width: 80%;
}


.headerStickyRow--info__section--containerone {
    width: 65%;
}

.headerStickyRow--info__section--containertwo {
    width: 35%;
}


.headerRowContainer--info__section--containerone {
    display: flex;
    justify-content: space-between;
    background-color: #ececec;
}

.headerRowContainer--info__section--containertwo {
    display: flex;
    padding-left: 2rem;
    gap: 2rem;
    background-color: #ececec;
}



/* ---------------------------------------------------------------------------------main sections */

.headerStickyRow--header__main--container {
    height: 4rem;
    width: 100%;
    font-size: 11px;
    line-height: 1.6rem;
}

.headerRow--header__main--container {
    width: 100%;
}

.headerRowBackground--header__main--container {
    height: 4rem;
    width: 100%;
}

.headerRowContentContainer--header__main--container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.headerRowContainer--header__main--container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
}

.headerStickyRow--headerMain__logo--searchBar {
    width: 50%;
}

.headerStickyRow--header__main--logo {
    height: 2.6rem;
}

/* ----------------------------------------------------------- departamentos*/
.headerStickyRow--menu__principal--container {
    height: 4rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.headerRow--menu__principal--container {
    height: 4rem;
    width: 100%;
    border-top: 1px solid #d7d7d7;
    ;
    border-bottom: 1px solid #d7d7d7;
    ;
    display: flex;
    justify-content: center;
}

.headerRowContentContainer--menu__principal--container {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.headerRowContainer--menu__principal--container {
    height: 4rem;
    display: flex;
    justify-content: center;
}


.headerRowContainer--footer__departamentos--marcas {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-right: 2rem; 
}

.headerStickyRow--footer__newsletter--content {
    height: 7rem;
}

.newsletter--desktop__footer--newsletter {
    height: 1rem;
}