/* ==========================================================================================desktop */
/* -------------------------------------banner main */
.headerRow--header__banner--top {
    display: flex;
    justify-content: center;
}

.headerRowBackground--header__banner--top {
    background-color: red;
    width: 100%;
}

.headerRowContentContainer--header__banner--top {
    display: flex;
    justify-content: center;
    max-width: 960px;
}

.headerRowContainer--header__banner--top {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* --------------------------------------------------------  section information  */
.headerRowBackground--header__info--section {
    background: #ececec;
}

.headerRowBackground--info__section--containerone {
    background: #ececec;
}

.headerRowBackground--info__section--containertwo {
    background: #ececec;
}

.headerStickyRow--header__info--section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: #ececec;
    width: 100%;
}


/* ---------------------------------------------------------------------------------main sections */

.headerStickyRow--header__main--container {
    height: 4rem;
    width: 100%;
    font-size: 11px;
    line-height: 1.6rem;
}

.headerRow--header__main--container {
    width: 100%;
}

.headerRowBackground--header__main--container {
    height: 4rem;
    width: 100%;
}

.headerRowContentContainer--header__main--container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.headerRowContainer--header__main--container {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
}

.headerStickyRow--headerMain__logo--searchBar {
    width: 50%;
}

.headerStickyRow--header__main--logo {
    height: 2.6rem;
}

/* ----------------------------------------------------------- departamentos*/
.headerStickyRow--menu__principal--container {
    height: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.headerRow--menu__principal--container {
    height: 2.5rem;
    width: 100%;
    border-top: 1px solid #d7d7d7;
    ;
    border-bottom: 1px solid #d7d7d7;
    ;
    display: flex;
    justify-content: center;
}

.headerRowContentContainer--menu__principal--container {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.headerRowContainer--menu__principal--container {
    height: 2rem;
    display: flex;
    justify-content: center;
}


.headerRowContainer--footer__departamentos--marcas {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-right: 1rem;
}

.headerStickyRow--footer__newsletter--content {
    width: 960px;
}

.headerRowBackground--home__newsletter--one {
    background: #F8F8F8;
}

.headerRowContentContainer--footer__newsletter--content {
    height: 1rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerRowContainer--desktop__footer--newsletter-content {
    height: 2rem;
}

.headerRowContainer--footer__newsletter--content {
    border-top: 1px solid #d5d5d5;
}

.headerRowBackground--mobile__menu--main {
    background: black;
}

.headerRowContentContainer--mobile__search {
    background: black;
}

.headerRowContentContainer--mobile__megamenu {
    background: black;
}

.headerRowContentContainer--home__newsletter--form {
    height: 4rem;
    width: 702px;
}

.headerStickyRow--home__newsletter--form {
    display: block;
    position: relative;
    width: 650px;
    float: left;
    border: solid 1px #e6ebf1;
    background: #fff;
    margin-right: 1rem;
}

.headerRowContentContainer--mobile__megamenu :global(.vtex-login) {
    color: white;
background-color: aquamarine;
height: 30px;
width: 50px;
}