/*---------------------------------links section informations*/
.link--infosection__container--links {
margin-right: 1rem;
background: #ececec;
}

.label--infosection__container--links:hover {
    text-decoration: underline;
}